.button{
    padding: .5rem;
    background-color: white;
    color: black;
    border-radius: 5%;
    width: 5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}
.button:hover{
    background-color: rgb(20, 116, 77);
    border: 1px solid white;
    color:white;
}
.buttonText{
    text-align: center;
    font:700;
}